#Make sure to set values to these properties
spring.datasource.url= your api url
spring.datasource.username= name of your database
spring.datasource.password= Your Database password
spring.jpa.hibernate.ddl-auto=create-drop
spring.jpa.show-sql=true
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.PostgreSQLDialect
spring.jpa.properties.hibernate.format_sql=true
server.error.include-message=always
